# local package
-e .

# external requirements
numpy
scipy
Pillow
cython
matplotlib
scikit-image
# Careful not to overwrite tensorflow on the Server!
# tensorflow==1.4.0
# tensorflow-gpu==1.1.0
keras==2.0.8
opencv-python
h5py
imgaug
pycocotools
pocketsphinx
pandas
seaborn
networkx
gensim
nltk
contractions
pygraphviz
sklearn
psycopg2
# export CFLAGS="-I /Users/claasmeiners/.virtualenvs/video_article_retrieval/lib/python3.5/site-packages/numpy/core/include/ $CFLAGS"

pyvlfeat
neuralnet